@CHARSET "ISO-8859-1";


.navbar-default {
    background-color: #FFFFF;
    border-color: #FFFFF;
    font-family: "Futura-PT", "century-gothic", sans-serif;
}

#logo img
 {
	height: 40px;
	width: auto;

	
}